## Python Files
internPositions_script.py
internList_script.py
internByState_script.py
internByStatus_script.py
checkPositions.py
checkStatus.py
checkJSON.py

## JSON Files

intern_positions_combined.json

## Markdown Files
output/error_entries.md
internPositions_automationSteps.md

## Text Files
output/last_run_date.txt

## Folder
data/
output/
test/