## Python Files
internPositions_script.py
internList_script.py
internByState_script.py
internByStatus_script.py
checkPosition.py
checkDuplicate.py
checkJSON.py

## JSON Files
data/intern_positions_*.json
output/check_position.json
intern_positions_combined.json

## Markdown Files
output/duplicate_entries.md
internPositions_automationSteps.md

## Text Files
output/last_run_date.txt